:root {
    /* base */
    --primary: #1e3a8a;

    /* dark blue */
    --accent: #3b82f6;
    --background: #273b57;
    --input-bg: #1e293b;

    /* bright blue */
    --neutral: #f5f5f5;
    --dark-bg: #0f172a;

    /* light gray */
    --text-light: #e2e8f0;

    /* dark mode */
    --text-dark: #1f2937;

    /* button */
    --button-background: #2398ff;
    --button-hover: #145a97;
    --button-active: #003569;

    /* borders and shadows */
    --radius: 10px;
    --shadow: 0 4px 10px rgba(0, 0, 0, 0.473);

    /* text */
    --font-main: sans-serif;
}

body {
    font-family: var(--font-main);
    background-color: var(--dark-bg);
    color: var(--text-light);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    min-height: 100vh;
    padding: 2rem 0;
}

#verbs-container{
    display: none;
}

#verbs-container.active{
    display: block;
}

input,
button {
    width: 90%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: var(--radius);
}

input {
    background: var(--input-bg);
    color: var(--text-light);
}

button {
    background: var(--button-background);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: var(--button-hover);
}

button:active {
    background: var(--button-active);
    box-shadow: var(--shadow);
}