body{
  background-color: #0D1B2A;
  color: #F5F5F5;
  line-height: 1.6;
  box-sizing: border-box;
}

main{
  display: flex;
  flex-direction: column;
}


button{
  padding: 1rem 2rem;
  background-color: #2a3847;
  color: #1A1A1A;
  font-weight: 650;
  cursor: pointer;
  transition: 250ms;
  border: none;
  border-radius: 4px;
  transition-property: background-color, box-shadow;
}

button:hover{
  background-color: #CCCCCC;
}

button:active{
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.623);;
}

:focus-visible{
  outline-offset: 3px;
  outline: 3px solid #C8A45C;
}