@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); /* Importing Google Font Poppins */

body{
    background-color: #E5E7EB;
    font-family: 'Poppins', sans-serif;
    color: #374151;
}

h1{
    color: #1E3A8A; /* azul profundo */
    text-decoration: underline;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

/* button styles */
button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #2563EB;
}

button:active{
    background-color: #1D4ED8;
    transform: scale(0.98);
}

a{
    text-decoration: none;
    color: inherit;
}

/*card styles*/
#cardContainer{
    background-color: #FFFFFF;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px auto;
    background-color: #F3F4F6;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 20px;
    border: 2px solid #E5E7EB;
    font-size: 1.2em;
    overflow-wrap: break-word;
    gap: 20px;
}

#card { /* changed the order, the card style was first and the container second */
    flex: 1 1 260px;
    max-width: 300px;
    padding: 15px;
    height: auto;
    background-color: #F9FAFB;
    border: solid 1px #CBD5E1;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, ease, box-shadow 0.2s ease;
}

#card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

/* card content styles */
#card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

#card p {
    font-size: 0.95em;
    color: #1F2937;
    line-height: 1.4;
    margin: 0 0 10px;
}

#card h2 {
    font-size: 1.3em;
    color: #1E3A8A;
    margin-bottom: 10px;
}