body{
    background-color: #E5E7EB;
}

h1{
    color: #1E3A8A;
    text-decoration:underline;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #2563EB;
}

button:active{
    background-color: #1D4ED8;
    transform: scale(0.98);
}

a{
    text-decoration: none;
    color: white;
}

#exampleCard{
    min-width: 25%;
    max-width: 50%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5% auto;
    padding: 20px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

img{
    width: 75%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}