/*IDs of the inputs:
#title (text)
#photoSelector (file)
#subtitle (text)
#description (textarea)
*/

body{
    background-color: #E5E7EB;
    font-family: 'Poppins', sans-serif;
    color: #374151;
}

h1{
    color: #1E3A8A; 
}

form{
    max-width: 75%;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #ddd;
    background-color: #F9FAFB;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #1F2937;
}

#title, #photoSelector, #description, #subtitle {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    font-size: 1.5em;
    color: #606266;
}

#title::placeholder, #subtitle::placeholder, #description::placeholder {
    color: #9CA3AF;
    font-style: italic;
}

#title:focus, #photoSelector:focus, #description:focus, #subtitle:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

#description {
    max-width: fit-content;
    resize: vertical;
}