/* --- media query */

@media screen and (min-width: 625px) {
    .main-container {
        width: 90%;
        max-width: 700px;
    }

    #verbs-container {
        display: none;
        font-size: 1.3em;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    #verbs-container.active {
        display: grid;
        margin: 15px 0 15px 0;
    }
}