:root {
    /* base */
    --primary: #1e3a8a;

    /* dark blue */
    --accent: #3b82f6;
    --background: #273b57;
    --input-bg: #1e293b;

    /* bright blue */
    --neutral: #f5f5f5;
    --dark-bg: #0f172a;

    /* light gray */
    --text-light: #e2e8f0;

    /* dark mode */
    --text-dark: #1f2937;

    /* button */
    --button-background: #2398ff;
    --button-hover: #145a97;
    --button-active: #003569;

    /* borders and shadows */
    --radius: 10px;
    --shadow: 0 4px 10px rgba(0, 0, 0, 0.473);

    /* text */
    --font-main: sans-serif;
}

body {
    font-family: var(--font-main);
    background-color: var(--dark-bg);
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

/* accessibility */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* --- input and buttons */
input,
button {
    width: 90%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: var(--radius);
}

input {
    background: var(--input-bg);
    color: var(--text-light);
}

button {
    background: var(--button-background);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: var(--button-hover);
}

button:active {
    background: var(--button-active);
    box-shadow: var(--shadow);
}

button:focus-visible,
input:focus-visible {
    outline: 2px solid #0078d7;
    outline-offset: 3px;
}

/* --- semantic tags */

header{
    text-decoration: underline var(--accent);
    font-style: italic;
    text-align: center;
}

footer{
    font-style: italic;
}

/* --- main container */

.main-container {
    background: var(--primary);
    padding: 1.2rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.btn-group{
    display: flex;
    gap: 15px;
}

#verbs-container{
    display: none;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    background-color: #274baf;
}

#verbs-container.active {
    display: block;
}
