body{
    margin: 0;
    background-color: #F5f5f5;
    font-family: 'Roboto', sans-serif;
}

/* Semantic tags */

header, footer{
    background-image: linear-gradient(#4A90E2, #89afe4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* text */

h1 {
    font-size: 2.5em;
}

h1, h2{
    color: #003366;
    font-style: italic;
    text-align: center;
}

p{
    color: #333333;
}

img {
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

/* table */

th{
    background-color: #5B9BD5;
}

td{
    text-align: center;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #E8F0FE;
} 

tr:nth-child(odd) { 
    background-color: #FFFFFF;
}

table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 0.5rem 2px 0.5rem;
}

.Warnings {
    background-color: #E74C3C;
    color: white;
    font-weight: bold;
    text-align: center;
}

.student-table-section{
    text-align: center;
    padding: 1rem;
}

/* form */

#add-student-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

input{
    padding: 5px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}

#submit{
    margin-bottom: 5px;
    padding: 5px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    border-radius: 25px;
}

#submit:hover{
    background-color: #388E3C;
}

.class-section{
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

select {
    margin-top: 15px;
    padding: 0.625rem 1.25rem;
    background-color: #273b57;
    border: 0;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    color: #ddd;
    cursor: pointer;
    transition: all 0.2s;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    padding-right: 2.5rem;
}
select:focus {
    outline: 2px solid #1173d4;
    outline-offset: 2px;
}

select:hover {
    background-color: #0d5ba8;
    color: white;
}

